body {
    font-family: Arial, sans-serif;
  }
  
  .hidden {
    display: none;
  }
  
  .block {
    display: block;
  }
  
h1 {
    margin-bottom: 20px;
}

#user-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#user-list {
    margin-top: 20px;
    width: 300px;
}

.user {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
